# macOS
.DS_Store

# Android
*.iml
.gradle
local.properties
**/caches/
**/libraries/
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/inspectionProfiles/
.DS_Store
build/
captures
.externalNativeBuild
.cxx

# Node
node_modules/
npm-debug.log
yarn-error.log

# Flutter/Dart (if applicable)
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log

# Environment variables
.env

# OpenOCDE
.openocde

# Sub-projects / external repos
contact-website/


