# macOS
.DS_Store

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node
node_modules/
npm-debug.log
yarn-error.log

# Flutter/Dart (if applicable)
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log

# Environment variables
.env

# OpenOCDE
.openocde
